project_name = "dendri"
env = "production"
domain = "dendri.com"
domain_record = "app"
do_token = ""
do_region = "sfo2"
gitlab_token = ""
gitlab_username = ""
gitlab_project = "alex276/dendri"
aws_key = ""
aws_secret = ""
aws_region = "us-west-1"

# Laravel variables
app_key = "base64:="
google_id = ""
google_secret = ""
google_redirect = "http://app.dendri.com/callback"
aws_bucket = "dendri-k8-test"
jwt_secret = ""
mail_driver = "smtp"
mail_host = "smtp.mailgun.org"
mail_port = 587
mail_username = ""
mail_password = ""
media_url = ""
passport_id = ""
passport_secret = ""
queue_connection = "redis"
